body {
  text-align: center;
  padding: 30px;
}

h1 {
  text-align: center;
  width: 100%;
  line-height: 120%;
  font-family: Arial, sans-serif;
  letter-spacing: -0.05em;
}

#easel {
  position: absolute;
  top: 0;
  left: 0;
}